{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>aaa</title>
    <style>* { padding: 0; margin: 0; } canvas { background: #555; display: block; margin: 0 auto; }</style>
    <script src="{% static 'main/variables.js' %}"></script>
    <script src="{% static 'main/jquery.min.js' %}"></script>
    <script src="{% static 'main/arrow.js' %}"></script>
    <script src="{% static 'main/koushin.js' %}"></script>
    <script src="{% static 'main/keymap.js' %}"></script>
    <script src="{% static 'main/ajax.js' %}"></script>
    <script src="{% static 'main/mode.js' %}"></script>
    <script src="{% static 'main/drawing.js' %}"></script>

</head>
<body>
    <canvas id="myCanvas" width="1200" height="550"></canvas>
    <div class="container">
            <form id="ajax-number" action="{% url 'main:ajax_number' %}" method="POST">
                {% csrf_token %}
                <button type="submit" >送信</button>
            </form>
        <div class="result">
            以下にTexでの表現が表示されます<br>
            <span id = 'spn1'></span>
        </div>
    </div>

    <script>
        //#######  ajax POST and Response  #######
        var csrftoken = getCookie('csrftoken');
        $('#ajax-number').on('submit', function(e) {
            e.preventDefault();
            if (seq_list.length > 0){
                koushin0()
                seq_cluster.push(seq_list);
                direction_cluster.push(direction_list.slice(0, -1));
            }
            console.log(seq_cluster)
            $.ajax({
                'url': '{% url "main:ajax_number" %}',
                'type': 'POST',
                traditional : true,
                'data': {
                    'nodes': JSON.stringify(nodes),
                    'seq_cluster': JSON.stringify(seq_cluster),
                    'direct_cluster': JSON.stringify(direction_cluster),
                },
                'dataType': 'json'
            })
            .done(function(response){
                console.log('passed!')
                var sentence = response.sentence
                $('#spn1').replaceWith("<span id = 'spn1'>" + response.sentence.replace(/\r?\n/g, '<br>') + "</span>");
                var a = document.createElement("a");

                document.body.appendChild(a);
                a.style = "display: none";
                a.href = "{% static 'main/result.jpg' %}";
                a.download = "result.pdf";
                a.click();
            })
            .fail(function(response){
                console.log('failed!')
                //$('.result').prepend(response.sentence);
            });
            
        });
        //######################################

        var canvas = document.getElementById("myCanvas");
        var ctx = canvas.getContext("2d");
        var x = parseInt(canvas.width/3);
        var y = parseInt(canvas.height/2);

        document.addEventListener("keydown", keyDownHandler, false);
        document.addEventListener("keyup", keyUpHandler, false);

        async function main(){
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            draw_all_components();
            requestAnimationFrame(main);
            await _sleep(20);
        }
        main();

    </script>
</body>
</html>